body {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: orangered;
    font-size: 2rem;
}

p {
    color: darkolivegreen;
    font-size: 1rem;
}

img.key-image {
    border-radius: 10px 30px 50px 80px;
    margin: 20px;
    min-width: 200px;
    max-width: 70%;
}